<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Nagano Cake", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "マイページ", customers_path, class: "nav-link active" %>
        <%= link_to "商品一覧", items_path, class: 'nav-link' %>
        <%= link_to "カート", cart_items_path, class: 'nav-link' %>
        <%= link_to "ログアウト", destroy_customer_session_path, class: 'nav-link' %>
      </div>
    </div>
  </div>
</nav>