<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Nagano Cake", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "About", homes_about_path, class: "nav-link active" %>
        <%= link_to "商品一覧", items_path, class: 'nav-link' %>
        <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link' %>
        <%= link_to "ログイン", customer_session_path, class: 'nav-link' %>
      </div>
    </div>
  </div>
</nav>
<div class="parent">
  <div class="inner">
  　<h2 class="customer-login-label">ログイン</h2>
  　   <div class="input-field">
  　     <h5 class="login-label-a">会員の方はこちらからログイン</h5>
  　     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field-email">
          <%= f.label :email, "メールアドレス", class: "field-email-label" %>
          <%= f.email_field :email, autofocus: true, placeholder: "sample@example.com", class: "form-group mb-2 w-50" %>
        </div>
      
        <div class="field-password">
          <%= f.label :password, "パスワード", class: "field-password-label" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-group mb-2 w-50" %>
        </div>
      
        <%= f.submit "ログイン", class: "btn btn-primary actions d-grid gap-2 col-4 mx-auto" %>
        <% end %>
        <h5 class="login-label-b">会員登録がお済みでない方</h5><br>
        <%= link_to "こちら", new_customer_registration_path %>　から新規登録を行ってください。
      </div>
    </div>
  </div>


